<?xml version="1.0" encoding="UTF-8"?>headers

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="nat-device-volume"
    version="0.1.0">
    <name>nat-device-volume</name>
    <description></description>
    <license>MIT</license>
    <keywords>weex,plugin,nat,natjs,volume</keywords>
    <repo>https://github.com/Natjs/weex-nat-device-volume.git</repo>
    <issue>https://github.com/Natjs/weex-nat-device-volume/issues</issue>
    
     <!-- ios -->
     <platform name="ios">
         <framework src="NatVolume" type="podspec" spec="" />
         <config-file target="WeexpluginConfig.xml" parent="/*">
             <feature name="WXTestModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WeexNatVolume" />
                 <param name="api" value="nat/device/volume" />
             </feature>
         </config-file>
         <header-file src="ios/WeexNatVolume.h"/>
         <source-file src="ios/WeexNatVolume.m"/>
     </platform>

     <!-- android -->
     <platform name="android">
     </platform>

</plugin>
